html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color:transparent;
	width:350px;
	text-align:center;
}
article {
	word-wrap: break-word;
	padding: 2px;
	overflow: hidden;
	margin-bottom: 5px;
	background-color:Lavender;
	 -moz-box-shadow: 0px 5px 12px rgba(000,000,000,0.5);
	 -webkit-box-shadow:0px 5px 12px rgba(000,000,000,0.5);
	 box-shadow:0px 5px 12px rgba(000,000,000,0.5);
}
table {
   text-align:center;
   width:99%;
   border-spacing:0;
   border:2px solid green;
   margin: 0;
}
td {
   text-align:center;
}

button {
   font-weight:bold;
}
#xy {
   font-size:8px;
   color:Teal;
}

#teal {
     background-color:teal;
}
#borderright {
     border-right:2px solid teal;
}
#bordertop {
     border-top:2px solid teal;
}
#borderleft {
     border-left:2px solid teal;
}
#bottomright {
      border-bottom:2px solid teal;
	  border-right:2px solid teal;
}
#bottomrighttop {
      border-bottom:2px solid teal;
	  border-right:2px solid teal;
	  border-top:2px solid teal;
}
#borderall {
      border-bottom:2px solid teal;
	  border-right:2px solid teal;
	  border-top:2px solid teal;
	  border-left:2px solid teal;
}

#sunday {
     background-color:#FF1493;
	 border-top:2px solid teal;
	 border-bottom:2px solid teal;
	 border-right:2px solid teal;
}
#satur {
     background-color:#FFDAB9;
	 border-top:2px solid teal;
	 border-bottom:2px solid teal;
}
#days {
    background-color:#FFDAB9;
	border-top:2px solid teal;
	border-bottom:2px solid teal;
	border-right:2px solid teal;
}

#aa, #ab {
	margin: 0;
	padding: 0;
	background-color:transparent;
	width:45px;
	height:62px;
	font-size:20px;
}
#kb {
	margin: 0;
	padding: 0;
	background-color:transparent;
	width:45px;
	height:45px;
	font-size:20px;
}
#k {
	margin: 0;
	padding: 0;
	background-color:#FFDAB9;
	height:20px;
	font-size:20px;
}
#aa {
   color:red;
}
#amba {
     background-image : url("https://upload.wikimedia.org/wikipedia/commons/9/97/Amabsya.png");
	 background-repeat: no-repeat;
	 margin: 0;
	padding: 0;
	background-color:transparent;
	width:45px;
	height:62px;
	font-size:20px;
	color:red;
}
#prna {
     background-image : url("https://upload.wikimedia.org/wikipedia/commons/d/d3/Purnima.png");
	 background-repeat: no-repeat;
	 margin: 0;
	padding: 0;
	background-color:transparent;
	width:45px;
	height:62px;
	font-size:20px;
	color:red;
}
#amb {
     background-image : url("https://upload.wikimedia.org/wikipedia/commons/9/97/Amabsya.png");
	 background-repeat: no-repeat;
	 margin: 0;
	padding: 0;
	background-color:transparent;
	width:45px;
	height:62px;
	font-size:20px;
}
#prn {
     background-image : url("https://upload.wikimedia.org/wikipedia/commons/d/d3/Purnima.png");
	 background-repeat: no-repeat;
	 margin: 0;
	padding: 0;
	background-color:transparent;
	width:45px;
	height:62px;
	font-size:20px;
}
.tooltip {
   position: relative;
   display: inline-block;
}
.tooltip .tooltiptext {
   visibility: hidden;
   width: 200px;
   background-color: #555;
   color: Azure;
   text-align: center;
   border-radius: 6px;
   padding: 0px 0;
   position: absolute;
   z-index: 0;
   bottom: 125%;
   margin-left: 0px;
   opacity: 0;
   transition: opacity 1s;
}
.tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
}
#holya {
   left: 0%;
}
#holyb {
   left: -70%;
}
#holyc {
   left: -400%;
}
#kc {
	margin: 0;
	padding: 0;
	width:310px;
	height:45px;
	font-size:20px;
	color:Cyan;
	background-color:green;
}
#kd {
	margin: 0;
	padding: 0;
	width:90px;
	height:45px;
	font-size:20px;
	color:Cyan;
	background-color:green;
}
#ke {
	margin: 0;
	padding: 0;
	width:135px;
	height:45px;
	font-size:20px;
	color:Cyan;
	background-color:green;
}
#g {
	background-color:green;
}
